<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{username}}</h1>
    <form action="" method="POST">
        {%csrf_token%}
        <button type="submit">Submit</button>
    </form>
</body>
</html>